@model IEnumerable<Animal>
@{
    ViewData["Title"] = "Catalog";
}


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="Alternate Text" class="img-fluid img-thumbnail" />
                </td>
                <td>
                    <p>@item.Name</p>
                </td>
                <td>
                    <p>@item.Description</p>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Catalog" asp-action="Details" asp-route-id="@item.AnimalId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

