@model IEnumerable<Animal>
@{
    ViewData["Title"] = "Catalog";
}

<div class="row">
    <div class="col-8">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    </div>
    <div class="col-4">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

<br />

<nav aria-label="Animals Pagination">
    <ul class="pagination">
        @if ((int)ViewData["CurrentPage"]! > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["CurrentPage"]! - 1 )">Previous</a>
            </li>
        }

        @for (int i = 0; i < (int)ViewData["TotalPages"]!; i++)
        {
            <li class="page-item @(i == (int)ViewData["CurrentPage"]! ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@(i + 1)</a>
            </li>
        }

        @if ((int)ViewData["CurrentPage"]! < (int)ViewData["TotalPages"]! - 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["CurrentPage"]! + 1 )">Next</a>
            </li>
        }
    </ul>
</nav>

@{
    await Html.RenderPartialAsync("_AnimalsPartial");
}