@model IEnumerable<Animal>
@{
    ViewData["Title"] = "Catalog";
}


@{
    await Html.RenderPartialAsync("_AnimalsPartial");
}

<nav aria-label="Animals Pagination">
    <ul class="pagination">
        @if ((int)ViewData["CurrentPage"]! > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["CurrentPage"]! - 1 )">Previous</a>
            </li>
        }

        @for (int i = 0; i < (int)ViewData["TotalPages"]!; i++)
        {
            <li class="page-item @(i == (int)ViewData["CurrentPage"]! ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@(i + 1)</a>
            </li>
        }

        @if ((int)ViewData["CurrentPage"]! < (int)ViewData["TotalPages"]! - 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["CurrentPage"]! + 1 )">Next</a>
            </li>
        }
    </ul>
</nav>