@model IEnumerable<Animal>

<div class="row row-cols-auto">
    @foreach (var item in Model)
    {
        <div class="col-sm6">
            <div class="card sm-3" style="width: 100%;">
                <img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h4 class="card-title">Name: @item.Name</h4>
                    @if((string)ViewData["Title"]! == "Bro")
                    {
                        <h4 class="card-title">Description: @item.Description</h4>
                        <h4 class="card-title">Number of comments: @item.Comments.Count()</h4>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-controller="Catalog" asp-action="Details" asp-route-id="@item.AnimalId">Details</a>
                    }
                </div>
            </div>
        </div>
    }
</div>